.color1 { background-color: #355C7D; }
.color2 { background-color: #6C5B7B; }
.color3 { background-color: #C06C84; }
.color4 { background-color: #F67280; }
body { background-color: #6C5B7B; font-family: sans-serif; padding: 10px }
.message { background-color: #C06C84; padding: 20px; border-radius: 10px; margin-top: 10px}


@keyframes sender {
    0% {background-color:#6C5B7B; left:0px; top:0px;}
   10% {background-color:#6C5B7B; left:200px; top:0px;}
   20% {background-color:#6C5B7B; left:400px; top:0px;}
   30% {background-color:#7D6C8C; left:600px; top:0px;}
   40% {background-color:#7D6C8C; left:800px; top:0px;}
   50% {background-color:#7D6C8C; left:600px; top:0px;}
   60% {background-color:#7D6C8C; left:400px; top:0px;}
   70% {background-color:#6C5B7B; left:400px; top:0px;}
   80% {background-color:#6C5B7B; left:200px; top:0px;}
  100% {background-color:#6C5B7B; left:0px; top:0px;}
}